{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}

	<form class="w-50" style="margin:7% auto 0 auto" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		{% bootstrap_form form %}
		<input class="btn btn-success" type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
		<p class="mt-3"><a href="{% url 'password_reset' %}">Lost password?</a></p>
		<p class="mt-3">Register <a href="{% url 'register' %}">Here</a></p>
	</form>

	{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}