{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<form class="w-50" style="margin:7% auto 0 auto" method="POST">
        {% csrf_token %}
		{% bootstrap_form form %}
		<button type="submit">Register</button>
	</form>
{% endblock %}