{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% if user.is_authenticated %}
	<nav class="navbar navbar-default">
		<h1 style="font-size: 4em" class="text-monospace navbar-header navbar-brand">
			biblioteca
		</h1>
		<div>
			<p class="text-monospace" style="text-align: right">Welcome, {{ user.get_username }}</p>
			<p class="text-monospace" style="text-align: right">Books available: {{ profile.books_available}}</p>
			<p class="text-monospace" style="text-align: right">Magazines available: {{ profile.magazines_available}}</p>
			<p style="text-align: right!important;"><a class="text-monospace" href="{% url 'logout' %}?next={{ request.path }}">Logout</a></p>
		</div>

	</nav>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="#">Available</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/catalog/loaned/">Checked out</a>
		</li>
	</ul>
	<div>
		{% for book in book_list %}
			<div class="card mt-2" style="border-top: transparent 0!important;">
				<div class="card-body" style="display: grid; grid-template-columns: 4fr 1fr">
					<div>
						<h5 class="card-title text-monospace" style="font-size: 1.2em">{{ book.title }}</h5>
					</div>

					<a href="{% url 'loan' book.id %}" type="submit"><button type="button" style="float:right; margin: 0 16px 0 0" class="btn btn-outline-primary">check out</button></a>
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<li><a href="{% url 'login' %}?next={{ request.path }}">Login1</a></li>
{% endif %}