{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% if user.is_authenticated %}
	<nav class="navbar navbar-default" onload="dueFunction()">
		<h1 style="font-size: 4em" class="text-monospace navbar-header navbar-brand">
			biblioteca
		</h1>
		<div>
			<p class="text-monospace">Welcome, {{ user.get_username }}</p>
			<p class="text-monospace">Books: {{ profile.books_available}}</p>
			<p class="text-monospace">Magazines: {{ profile.magazines_available}}</p>
			<p><a class="text-monospace" href="{% url 'logout' %}?next={{ request.path }}">Logout</a></p>
		</div>

	</nav>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="/catalog/">Available</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">Checked Out</a>
		</li>
	</ul>
	<div>
		{% for publication in publications %}
			<div class="card mt-2" style="border-top: transparent 0!important;">
				<div class="card-body" style="display: grid; grid-template-columns: 4fr 1fr">
					<div>
						{% if publication.due %} <p style="text-align: center; float: right; padding: 12px 17px; margin: 0 11px 0 0" class="badge badge-danger">Due </p> {% endif %}
						<h5 class="card-title text-monospace" style="font-size: 1.2em">{{ publication.title }}</h5>
						<p class="card-text" style="font-size: 0.7em">Loan date {{ publication.check_out_date }}</p>
						<div class="card-text" style="font-size: 0.7em">Return date {{ publication.check_in_due_date }}</div>


					</div>
					<a href="{% url 'returned' publication.id %}" type="submit"><button type="button" class="btn btn-outline-primary">check in</button></a>
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<li><a href="{% url 'login' %}?next={{ request.path }}">Login1</a></li>
{% endif %}
